<!DOCTYPE html>
<html lang="en">
<head>
<title>权限工具</title>
<meta charset="UTF-8" />
<!-- 基础CSS库 -->
<link rel="stylesheet" href="../../js/bootstrap/themes/default/bootstrap.css" />
<link rel="stylesheet" href="../../js/jquery-easyui-1.5/themes/bootstrap/validatebox.css" />
<link rel="stylesheet" href="../../js/jquery-easyui-1.5/themes/bootstrap/tooltip.css" />
<link rel="stylesheet" href="../../css/jquery.select2.css" />
<link rel="stylesheet" href="../../css/jquery.select2-bootstrap.css" /> 
<!-- 业务CSS库 -->
<link rel="stylesheet" href="../../css/common/base.css" />
<link rel="stylesheet" href="../../css/common/scrollbar.css" /> 
<!-- 基础JS库 -->
<script src="../../js/common/package.js"></script>
<script src="../../js/common/url.js"></script>
<script src="../../js/common/json2.js"></script> 
<script src="../../js/common/jquery-1.11.3.min.js"></script>     
<script src="../../js/bootstrap/bootstrap.js"></script>
<script src="../../js/bootstrap/plugins/bootstrap-paginator.js"></script>
<script src="../../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
<script src="../../js/common/jquery.select2.js"></script>       
<!-- 业务JS库 -->
<script src="../../js/common/base.js"></script>
<script src="../../js/common/datagrid2.js"></script>
<script src="../../js/common/formatter.js"></script>     
<script src="../../js/menu/accessCtr.js"></script> 
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">权限更改</h3>
                    </div>
                    <div class="panel-body" style="text-align:center">
                        <form id="searchForm" class="form-inline">
                            <div class="form-group">
                                <label class="form-label">codeA:</label>
                            </div>
                            <div class="form-group">
                                <input name="codeA" id="codeA" type="text" class="form-control input-sm" placeholder="codeA">
                            </div>
                            <div class="form-group">
                                <label class="form-label">codeB:</label>
                            </div>
                            <div class="form-group">
                                <input name="codeB" id="codeB" type="text" class="form-control input-sm" placeholder="codeB">
                            </div>
                            <button id="change" type="button" class="btn btn-default btn-sm">确定</button>
                        </form>
                    </div>
                </div>
			</div>                
		</div>
	</div>            
</body>
</html>



