<html lang="en">
<head>
    <title>header</title>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
</head>
<body>
<div>
    <img class="wb100" src="../../img/bg.png">
</div>
<script type="text/javascript" src="../../js/common/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/each/main/main.js"></script>
</body>
</html>