<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>对内逾期金额报表</title>
	    <meta charset="UTF-8" />
	    <meta name="Author" content="" />
	    <meta name="Keywords" content="" />
	    <meta name="Description" content="" />
	    
	    <!-- 样式库 -->
	    <link rel="stylesheet" href="../../../js/ztree/css/zTreeStyle/zTreeStyle.css" />
	    <link rel="stylesheet" href="../../../js/bootstrap/themes/default/bootstrap.css" />
	    <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/validatebox.css" />
	    <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/tooltip.css" />
	    <link rel="stylesheet" href="../../../css/jquery.select2.css" />
	    <link rel="stylesheet" href="../../../css/jquery.select2-bootstrap.css" />
	    <link rel="stylesheet" href="../../../css/jquery.datetimepicker.css" /> 
	    
	    
	    <!-- 插件库 -->
	    <script src="../../../js/common/package.js"></script>
		<script src="../../../js/common/url.js"></script>
		<script src="../../../js/common/json2.js"></script>	
		<script src="../../../js/common/jquery-1.11.3.min.js"></script>		
		<script src="../../../js/bootstrap/bootstrap.js"></script>
		<script src="../../../js/bootstrap/plugins/bootstrap-paginator.js"></script>
		<script src="../../../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
		<script src="../../../js/ztree/js/jquery.ztree.all.min.js"></script>
		<script src="../../../js/common/jquery.select2.js"></script>
		<script src="../../../js/common/jquery.datetimepicker.js"></script>
		
		<!-- 业务库 -->
		<script src="../../../js/common/base.js"></script>
		<script src="../../../js/common/datagrid2.js"></script>
		<script src="../../../js/common/tree.js"></script>
		<script src="../../../js/common/formatter.js"></script>	    
	    <script src="../../../js/each/cfm/cfmSys/internalOverdueAmountReport.js"></script>
	    <script src="../../../js/each/cfm/merch/merch.js"></script>
		
		<!-- 页面样式 -->
		<style type="text/css">
			body {
				font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
				background:#eee url("../../../img/back.png") repeat;
			}
			.container-fluid {
				padding:5px;
			}
			.left-part {
				height:800px;
			}
			.modal-form {
				margin:8px;
			}
		</style>
	    
	</head>   
	<body>
		<div class="container-fluid">
			<div class="row">				
				<div class="col-md-12">
					<div class="panel panel-info" style="width:1740px">
						<div class="panel-heading">
							<h4 class="panel-title">查询信息</h4>
					  	</div>
					  	<div class="panel-body">	
					  		<form id="searchForm" class="form-horizontal">
							  	<div class="form-group">
							    	<label class="control-label col-lg-1 col-md-1 col-sm-1">商户名称 </label>
							    	<div class="col-lg-2 col-md-2 col-sm-2">
							    	    <input id="merchNames" type="text" readonly value="全部商户" name="merchNames" class="form-control merch" onclick="showMenu(); return false;"/>
							    	</div>
							    	<label class="control-label col-lg-1 col-md-1 col-sm-1">截止时间</label>
							    	<div class="col-lg-2 col-md-2 col-sm-2">
							    	    <input name="schedueDate" id='schedueDate' type="text" class="form-control input-sm" placeholder="请输入开始时间">
							    	</div>
							    	<div class="col-lg-4 col-md-4 col-sm-4">
									    <button id="btn-search" type="button" class="btn btn-default btn-sm">查询</button>
										<button id="btn-reset" type="button" class="btn btn-default btn-sm">重置</button>
										<a href='javascript:;' id="btn-export" class="btn btn-default btn-sm">导出</a>
							  	    </div>
							   </div> 	
							</form>		  												 	
					  	</div>
					</div>
					<div class="panel panel-info" style="width:1740px">
						<div class="panel-heading">
							<h4 class="panel-title">内部资产逾期指标查询</h4>
					  	</div>
					  	<div class="panel-body">
					  	</div>
						<table id='datagrid' class="table table-striped table-bordered table-hover table-condensed">
						    <thead>
						    	<tr> 
						    		<td colspan="4" style="text-align:center">门店总逾期</td>
						    		<td colspan="2" style="text-align:center">MOD5</td>
						    	    <td colspan="2" style="text-align:center">MOB1</td>		
						    	    <td colspan="2" style="text-align:center">MOB2</td>
						    	    <td colspan="2" style="text-align:center">MOB3</td>						    		
							    	<td colspan="2" style="text-align:center">MOB4</td>						    	
						    	</tr>
						    	<tr> 
						    		<th field="merchantNo" style="width:70px">商户</th>
						    		<th field="overduePrincipal" formatter="Formatter.money(val)" style="width:139px">门店逾期剩余本金</th>
						    	    <th field="stockAmt" formatter="Formatter.money(val)" style="width:109px">门店资产存量</th>								    		
							    	<th field="overdueRate" style="width:99px">逾期率(%)</th>						    	
							    	<th field="overduePrincipalMb5" formatter="Formatter.money(val)" style="width:100px">剩余本金</th>						    	
							    	<th field="overdueRateMb5" style="width:99px">逾期率（%）</th>
							    	<th field="overduePrincipalMb1" formatter="Formatter.money(val)" style="width:100px">剩余本金</th>
							    	<th field="overdueRateMb1" style="width:99px">逾期率（%）</th>
							    	<th field="overduePrincipalMb2" formatter="Formatter.money(val)" style="width:100px">剩余本金</th>
							    	<th field="overdueRateMb2" style="width:99px">逾期率（%）</th>
							    	<th field="overduePrincipalMb3" formatter="Formatter.money(val)" style="width:100px">剩余本金</th>
							    	<th field="overdueRateMb3" style="width:99px">逾期率（%）</th>
							    	<th field="overduePrincipalMb4" formatter="Formatter.money(val)" style="width:100px">剩余本金</th>
							    	<th field="overdueRateMb4" style="width:99px">逾期率（%）</th>
						    	</tr>
						    </thead>
						    <tbody></tbody>
						</table>
						<table id='datagrid1' class="table table-striped table-bordered table-hover table-condensed">
							<tbody>
								<tr style="border-top: 1px solid #ddd;"> 
						    		<td style="width:70px">平台逾期总额</td>
						    		<td class="totalOverduePrincipal" style="width:139px"></td>
						    	    <td class="totalStockAmt" style="width:109px"></td>	
						    	    <td class="totalOverdueRate" style="width:99px"></td>
						    	    <td class="totalOverduePrincipalMb5" style="width:100px"></td>					    		
							    	<td class="totalOverdueRateMb5" style="width:99px"></td>	
							    	<td class="totalOverduePrincipalMb1" style="width:100px"></td>
						    	    <td class="totalOverdueRateMb1" style="width:99px"></td>
						    	    <td class="totalOverduePrincipalMb2" style="width:100px"></td>
						    	    <td class="totalOverdueRateMb2" style="width:99px"></td>						    		
							    	<td class="totalOverduePrincipalMb3" style="width:100px"></td>		
							    	<td class="totalOverdueRateMb3" style="width:99px"></td>					    		
							    	<td class="totalOverduePrincipalMb4" style="width:100px"></td>	
							    	<td class="totalOverdueRateMb4" style="width:99px"></td>	    	
						    	</tr>
							</tbody>
						</table>
					  	<div class="panel-footer">
							<div id="paginator"></div>
						</div>
					</div>
				</div>
			</div>		 	
		</div>
		<div id="menuContent" class="menuContent" style="max-height:500px;overflow:scroll;display:none; position: absolute;background:#fff;border:1px solid #ccc;">
	        <ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;"></ul>
        </div>
	</body>
</html>