<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>存量报表</title>
        <meta charset="UTF-8" />
        <meta name="Author" content="" />
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        
        <!-- 样式库 -->
        <link rel="stylesheet" href="../../../js/ztree/css/zTreeStyle/zTreeStyle.css" />
        <link rel="stylesheet" href="../../../js/bootstrap/themes/default/bootstrap.css" />
        <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/validatebox.css" />
        <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/tooltip.css" />
        <link rel="stylesheet" href="../../../css/jquery.select2.css" />
        <link rel="stylesheet" href="../../../css/jquery.select2-bootstrap.css" />
        <link rel="stylesheet" href="../../../css/jquery.datetimepicker.css" /> 
        
        
        <!-- 插件库 -->
        <script src="../../../js/common/package.js"></script>
        <script src="../../../js/common/url.js"></script>
        <script src="../../../js/common/json2.js"></script> 
        <script src="../../../js/common/jquery-1.11.3.min.js"></script>     
        <script src="../../../js/bootstrap/bootstrap.js"></script>
        <script src="../../../js/bootstrap/plugins/bootstrap-paginator.js"></script>
        <script src="../../../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
        <script src="../../../js/ztree/js/jquery.ztree.all.min.js"></script>
        <script src="../../../js/common/jquery.select2.js"></script>
        <script src="../../../js/common/jquery.datetimepicker.js"></script>
        
        <!-- 业务库 -->
        <script src="../../../js/common/base.js"></script>
        <script src="../../../js/common/datagrid2.js"></script>
        <script src="../../../js/common/tree.js"></script>
        <script src="../../../js/common/formatter.js"></script>     
        <script src="../../../js/each/cfm/cfmSys/stockReport.js"></script>
        <script src="../../../js/each/cfm/merch/merch.js"></script>
        
        <!-- 页面样式 -->
        <style type="text/css">
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
                background:#eee url("../../../img/back.png") repeat;
            }
            .container-fluid {
                padding:5px;
            }
            .left-part {
                height:800px;
            }
            .modal-form {
                margin:8px;
            }
            .addLink{
                cursor:pointer;
                text-decoration:underline;
            }
        </style>
        
    </head>   
    <body>
    
        <div class="container-fluid">
            <div class="row">               
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">查询信息</h4>
                        </div>
                        <div class="panel-body">    
                            <form id="searchForm" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-lg-1 col-md-1 col-sm-1">商户名 </label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input id="merchNames" type="text" readonly value="全部商户" name="merchNames" class="form-control merch" onclick="showMenu(); return false;"/>
                                    </div>
                                    <label class="control-label col-lg-1 col-md-1 col-sm-1">订单号</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input id="orderId" name="orderId" type="text" class="form-control input-sm" placeholder="请输入订单号">
                                    </div>
                                    <label class="control-label col-lg-1 col-md-1 col-sm-1">手机号</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input id="regId" name="regId" type="text" class="form-control input-sm" placeholder="请输入手机号">
                                    </div>
                               </div>     
                               <div class="form-group">     
                                    <label class="control-label col-lg-1 col-md-1 col-sm-1">截止日期</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input id="curRepayDate" name="curRepayDate" type="text" class="form-control input-sm" placeholder="请输入截止日期">
	                               </div>
	                               <div class="col-lg-4 col-md-4 col-sm-4">
	                                    <button id="btn-search" type="button" class="btn btn-default btn-sm">查询</button>
		                                <button id="btn-reset" type="button" class="btn btn-default btn-sm">重置</button>
		                                <a href='javascript:;' id="btn-export" class="btn btn-default btn-sm">导出</a>
                                   </div>
                                </div>
                            </form>                                                         
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">订单信息</h4>
                        </div>
                        <table id='datagrid' class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <tr>        
                                    <th field="orderId">帮手订单号</th>          
                                    <th field="realName">客户姓名</th>    
                                    <th field="regId">手机号</th>
                                    <th field="parentMerName">资产所属体系</th>
                                    <th field="merchantShortName">机构名称</th>
                                    <th field="sourcesFunding">资金端（IQB/饭饭)</th>
                                    <th field="fundId">资金端上标ID号</th>
                                    <th field="installTerms">总期数</th>
                                    <th field="repayNo">已还期数</th>
                                    <th field="nonRepayno">未还期数</th>
                                    <th field="preAmt" formatter="Formatter.money(val)">首付金额</th>
                                    <th field="contractAmt" formatter="Formatter.money(val)">借款总额</th>
                                    <th field="installSumAmt" formatter="Formatter.money(val)">应还总额</th>
                                    <th field="curRepayPrincipal" formatter="Formatter.money(val)">已还本金</th>
                                    <th field="remainPrincipal" formatter="Formatter.money(val)">未还本金</th>
                                    
                                </tr> 
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="panel-footer">
                            <div id="paginator"></div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        <div id="open-win" class="modal fade" role="dialog" aria-labelledby="update-win-label" aria-describedby="……">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title" id="update-win-label" style='font-weight:600'>账单详情</span>
                        <button id="btn-close" type="button" class="btn btn-success btn-sm" style='float:right'>关闭</button> 
                    </div>
                    <div class="modal-form" style='height:600px;overflow-y:scroll;overflow-x:hidden;'>
                        <form id="updateForm" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style='text-align:center;'>借款人</label>
                                <div class="col-sm-4">
                                    <input id='billRealName' type="text" class="form-control input-sm" readonly >
                                </div>
                                <label class="col-sm-2 control-label" style='text-align:center;'>订单号</label>
                                <div class="col-sm-4">
                                    <input id='billOrderId' type="text" class="form-control input-sm" readonly/>
                                </div>
                            </div>
                            <table class="table table-bordered forBill">
                             <thead>
                                <tr>
                                    <th style='width:60px'>期数</th>
                                    <th style='width:120px'>本期应还金额</th>
                                    <th style='width:120px'>最迟还款日</th>
                                    <th style='width:120px'>实际还款金额</th>
                                    <th style='width:60px'>罚息</th>
                                    <th style='width:100px'>逾期天数</th>
                                    <th style='width:120px'>账单状态</th>
                                </tr>
                             </thead>
                             <tbody></tbody>
                            </table>
                        </form>
                    </div>                  
                </div>
            </div>
        </div>
        <div id="menuContent" class="menuContent" style="max-height:500px;overflow:scroll;display:none; position: absolute;background:#fff;border:1px solid #ccc;">
            <ul id="treeDemo" class="ztree" style="margin-top:0;"></ul>
        </div>
    </body>
</html>