<!DOCTYPE html>
<html lang="en">
    <head>
        <title>贷后处置</title>
        <meta charset="UTF-8" />
        <meta name="Author" content="" />
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        
        <!-- 样式库 --> 
        <link rel="stylesheet" href="../../js/ztree/css/zTreeStyle/zTreeStyle.css" />
        <link rel="stylesheet" href="../../js/bootstrap/themes/default/bootstrap.css" />
        <link rel="stylesheet" href="../../js/jquery-easyui-1.5/themes/bootstrap/validatebox.css" />
        <link rel="stylesheet" href="../../js/jquery-easyui-1.5/themes/bootstrap/tooltip.css" />
        <link rel="stylesheet" href="../../css/jquery.select2.css" />
        <link rel="stylesheet" href="../../css/jquery.select2-bootstrap.css" />
        <link rel="stylesheet" href="../../css/jquery.datetimepicker.css" />
        <link rel="stylesheet" href="../../js/bootstrap/themes/default/jquery.mCustomScrollbar.css" />
        <link rel="stylesheet" href="../../js/prettyphoto/css/prettyPhoto.css" />
        
        <!-- 插件库 -->
        <script src="../../js/common/package.js"></script>
        <script src="../../js/common/url.js"></script>
        <script src="../../js/common/json2.js"></script> 
        <script src="../../js/common/jquery-1.11.3.min.js"></script>     
        <script src="../../js/bootstrap/bootstrap.js"></script>
        <script src="../../js/bootstrap/plugins/bootstrap-paginator.js"></script>
        <script src="../../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
        <script src="../../js/ztree/js/jquery.ztree.all.min.js"></script>
        <script src="../../js/common/jquery.select2.js"></script>
        <script src="../../js/common/jquery.datetimepicker.js"></script>
        <script src="../../js/bootstrap/plugins/jquery.mCustomScrollbar.js"></script>
        <script src="../../js/prettyphoto/js/jquery.prettyPhoto.js"></script>    
        
        <!-- 业务库 -->
        <script src="../../js/common/base.js"></script>
        <script src="../../js/common/datagrid2.js"></script>
        <script src="../../js/common/tree.js"></script>
        <script src="../../js/common/formatter.js"></script>     
        <script src="../../js/each/carTrack/postLoanManagement.js"></script>
        <script src="../../js/each/cfm/merch/merch.js"></script>
        
        
        <!-- 页面样式 -->
        <style type="text/css">
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
                background:#eee url("../../img/back.png") repeat;
            }
            .container-fluid {
                padding:5px;
            }
            .left-part {
                height:800px;
            }
            .modal-form {
                margin:5px;
                height:600px;
            }
            .text-left {
                text-align: left;
            }
            .text-center {
                text-align: center;
            }
            .text-right {
                text-align: right;
            }
            .text-muted {
                font-weight: bold;
            }
            .text-stress {
                font-weight: bold;
            }
            .item-title {
                background-color: #f5f5f5;
            }
            .float-left {
                float: left;
                margin-left: 5px;
            }
        </style>
        
    </head>
    <body>
    
        <div class="container-fluid">
            <div class="row">               
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">查询信息</h4>
                        </div>
                        <div class="panel-body">    
                            <form id="searchForm" class="form-horizontal" role="form">
                                <div class="form-group">    
                                    <label for="merchantShortName" class="col-lg-1 col-md-1 col-sm-1 control-label">商户名称:</label>                 
                                    <div class="col-lg-2 col-md-2 col-sm-2">                                  
                                        <input id="merchantShortName" type="text" readonly value="全部商户" name="merchNames" class="form-control merch" onclick="showMenu(); return false;"/>
                                    </div>      
                                    <label for="orderId" class="col-lg-1 col-md-1 col-sm-1 control-label">订单号:</label>                  
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                         <input type="text" class="form-control input-sm" name="orderId" placeholder="请输入订单号" />
                                    </div>      
                                    <label for="realName" class="col-lg-1 col-md-1 col-sm-1 control-label">客户姓名:</label>                  
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="text" class="form-control input-sm" name="realName" placeholder="请输入客户姓名" />
                                    </div>
                                    <label for="regId" class="col-lg-1 col-md-1 col-sm-1 control-label">手机号:</label>                  
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="text" class="form-control input-sm" name="regId" placeholder="请输入手机号" />
                                    </div>      
                                </div>
                                <div class="form-group">
                                    <label for="createDateStart" class="col-lg-1 col-md-1 col-sm-1 control-label">转贷后处理时间:</label>
                                    <div class="col-lg-1 col-md-1 col-sm-1">  
                                        <input id="search_expireDate" type="text" class="form-control input-sm" name="lafterLoanDate" />
                                    </div>
             						<div class="col-lg-0.1 col-md-0.1 col-sm-0.1">
							    		<label style="float: left; class="form-label">-</label>
							  		</div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">  
                                        <input id="search_expireDate" type="text" class="form-control input-sm" name="hafterLoanDate" />
                                    </div>
									<label for="plate" class="col-lg-1 col-md-1 col-sm-1 control-label">车牌号:</label>                  
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="text" class="form-control input-sm" name="plate" placeholder="请输入车牌号" />
                                    </div>    
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <button id="btn-search" type="button" class="btn btn-primary btn-sm">查询</button>
                                        <button id="btn-reset" type="button" class="btn btn-primary btn-sm">重置</button>
                                    </div>
                                </div>
                            </form>                  
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">贷后处置</h3>
                        </div>
                        <div class="panel-body">
                            <form id="listForm">                                
                                <button id="btn-skip" type="button" class="btn btn-warning btn-sm">拖回入库</button>
                                <button id="btn-skip2" type="button" class="btn btn-warning btn-sm">车辆失联</button>
                            </form>
                        </div>
                        <table id='datagrid' class="table table-striped table-bordered table-hover table-condensed ">
                            <thead>
                                <tr>
                                    <th field="ck"></th>
                                    <th field="rn">序号</th>
                                    <th field="merchantId" hidden="true">ID</th>  
                                    <th field="merchantShortName">商户名称</th>                   
                                    <th field="orderId">订单号</th>  
                                    <th field="realName">姓名</th>
                                    <th field="regId">手机号</th>                         
                                    <th field="orderAmt" formatter="Formatter.money(val)">借款金额</th>
                                    <th field="orderItems">总期数</th>
                                    <th field="monthInterest">月供</th> 
                                    <th field="orderName">品牌车系</th>
                                    <th field="carNo">车架号</th>
                                    <th field="plate">车牌号</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="panel-footer">
                            <div id="paginator"></div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        <div id="menuContent" class="menuContent" style="max-height:500px;overflow:scroll;display:none; position: absolute;background:#fff;border:1px solid #ccc;">
	        <ul id="treeDemo" class="ztree" style="margin-top:0;"></ul>
        </div>
    </body>
</html>