<!DOCTYPE html>
<html lang="en">
    <head>
        <title>法务查询</title>
        <meta charset="UTF-8" />
        <meta name="Author" content="" />
        <meta name="Keywords" content="" />
        <meta name="Description" content="" /> 
        <!-- 样式库 -->
        <link rel="stylesheet" href="../../../js/ztree/css/zTreeStyle/zTreeStyle.css" />
	    <link rel="stylesheet" href="../../../js/bootstrap/themes/default/bootstrap.css" />
	    <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/validatebox.css" />
	    <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/tooltip.css" />
	    <link rel="stylesheet" href="../../../css/jquery.select2.css" />
	    <link rel="stylesheet" href="../../../css/jquery.select2-bootstrap.css" />
	    <link rel="stylesheet" href="../../../js/bootstrap/themes/default/jquery.mCustomScrollbar.css" />
	    <link rel="stylesheet" href="../../../css/jquery.datetimepicker.css" /> 
	    <link rel="stylesheet" href="../../../css/common/base2.css" />
	    
	    <!-- 插件库 -->
	    <script src="../../../js/common/package.js"></script>
		<script src="../../../js/common/url.js"></script>
		<script src="../../../js/common/json2.js"></script>	
		<script src="../../../js/common/jquery-1.11.3.min.js"></script>		
		<script src="../../../js/bootstrap/bootstrap.js"></script>
		<script src="../../../js/bootstrap/plugins/bootstrap-paginator.js"></script>
		<script src="../../../js/bootstrap/plugins/jquery.mCustomScrollbar.js"></script>
		<script src="../../../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
		<script src="../../../js/ztree/js/jquery.ztree.all.min.js"></script>
		<script src="../../../js/common/jquery.select2.js"></script>
		<script src="../../../js/ztree/js/jquery.ztree.all.min.js"></script>
		<script src="../../../js/common/jquery.datetimepicker.js"></script>
		
		<!-- 业务库 -->
		<script src="../../../js/common/base.js"></script>
		<script src="../../../js/common/datagrid2.js"></script>
		<script src="../../../js/common/tree.js"></script>
		<script src="../../../js/common/formatter.js"></script>	 
		<script src="../../../js/each/cfm/merch/merchMerNo.js"></script>   
	    <script src="../../../js/each/afterLoan/caseQuery/fwQuery.js"></script>
	    
		
		<!-- 页面样式 -->
		<style type="text/css">
			body {
				font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
				background:#eee url("../../../img/back.png") repeat;
			}
			.container-fluid {
				padding:5px;
			}
			.left-part {
				height:800px;
			}
			.modal-form {
				margin:8px;
			}
		</style>
    </head>
    <body>  
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="overflow-y: scroll;overflow-x: scroll;height: 870px;">
                    <div class="panel panel-info">
                    <div class="panel-heading">
                    	<h3 class="panel-title">查询信息</h3>
                    </div>
                        <div class="panel-body">    
                            <form id="searchForm" class="form-horizontal">                               
                                <div class="form-group">
                                    <label class="control-label col-lg-1 col-md-1 col-sm-1">机构名称:</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
							    	    <input id="merchNames" type="text" readonly value="全部商户" name="merchNames" class="form-control merch" onclick="showMenu(); return false;"/>
							  	    </div>
							  	    <input type='hidden' class='merchantNo' name='merchantNo'>
							  	    <label class="control-label col-lg-1 col-md-1 col-sm-1">订单号:</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input name="orderId" type="text" class="form-control input-sm" placeholder="请输入订单号">
                                    </div>
                                    <label class="control-label col-lg-1 col-md-1 col-sm-1">姓名:</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input name="realName" type="text" class="form-control input-sm" placeholder="请输入姓名">
                                    </div>
                                    <label class="control-label col-lg-1 col-md-1 col-sm-1">手机号:</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input name="regId" type="text" class="form-control input-sm" placeholder="请输入手机号">
	                                </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-1 col-md-1 col-sm-1">车辆状态</label>
								    <div class="col-lg-2 col-md-2 col-sm-2">
								    	<select class='form-control input-sm' name='carStatus' style='width:100%'>
								    		
								    	</select>
							    	</div>
							    	<label class="control-label col-lg-1 col-md-1 col-sm-1">案件状态</label>
								    <div class="col-lg-2 col-md-2 col-sm-2">
								    	<select class='form-control input-sm' name='caseStatus' style='width:100%'>
								    	   
								    	</select>
							    	</div>
							    	<label class="control-label col-lg-1 col-md-1 col-sm-1">立案时间</label>
							    	<div class="col-lg-2 col-md-2 col-sm-2">
							    	    <input name="startTime" id='startTime' type="text" class="form-control input-sm" placeholder="请输入开始时间">
							    	</div>
							    	<label class="control-label col-lg-1 col-md-1 col-sm-1">至</label>
							    	<div class="col-lg-2 col-md-2 col-sm-2">
							    	    <input name="endTime" id='endTime' type="text" class="form-control input-sm" placeholder="请输入结束时间">
							    	</div>
                                </div>
                                 <div class="form-group">
                                     <label class="control-label col-lg-1 col-md-1 col-sm-1">案件编号:</label>
                                     <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input name="caseNo" type="text" class="form-control input-sm" placeholder="请输入案件编号">
	                                 </div>
                                     <div class="col-lg-3 col-md-3 col-sm-3">
	                                    <button id="btn-search" type="button" class="btn btn-default btn-sm">查询</button>
	                                    <button id="btn-reset" type="button" class="btn btn-default btn-sm">重置</button>
	                                    <a id="btn-export" type="button" class="btn btn-default btn-sm">导出</a>
                                    </div>
                                 </div>
                            </form>                                                         
                        </div>
					</div>		
					<div class="panel panel-info">	
                        <div class="panel-heading">
                            <h3 class="panel-title">订单列表</h3>
                        </div>
                        <div class='scrollbar' style='width:100%;overflow-x:scroll'>
                        <table id="datagrid" class="table table-bordered table-hover" style="text-align:center">
                            <thead>
                                <tr>
                                    <th field="orderId" formatter="Formatter.orderIdCaseFw(val, row, rowIndex)">订单号</th>
                                    <th field="realName">姓名</th>
                                    <th field="regId">手机号</th>
                                    <th field="merchantName">商户</th>
                                    <th field="caseNo">案件编号</th>
                                    <th field="registerDate">立案时间</th>
                                    <th field="accuserFlag" formatter='Formatter.accuserFlag(val)'>是否为原告</th>
                                    <th field="caseSource" formatter="Formatter.caseSource(val)">案件来源</th>
                                    <th field="caseStatus" formatter="Formatter.caseStatus(val)">案件状态</th>
                                    <th field="register" formatter='Formatter.register(val)'>立案方</th>
                                    <th field="acceptOrg">受理机构</th>
                                    <th field="sumReceivedPayment" formatter='Formatter.moneyZero(val)'>总回款金额</th>
                                    <th field="executeResult" formatter='Formatter.executeResult(val)'>执行结果</th>
                                    <th field="carStatus" formatter="Formatter.carStatus(val)">车辆状态</th>
                                    <th field="processStatus" formatter="Formatter.caseProgress(val)">贷后状态</th>
                                    <th field="orderAmt" formatter='Formatter.money(val)'>借款金额</th>
                                    <th field="monthInterest" formatter='Formatter.money(val)'>月供</th>
                                    <th field="orderItems">总期数</th>
                                    <th field="finishItems">已还期数</th>
                                    <th field="overDueDays">逾期天数</th>
                                    <th field="caseId" hidden='true'>caseId</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        </div>
                        <div class="panel-footer">
                            <div id="paginator">
                            </div>
                        </div>
                        <form class="form-inline" style='margin-bottom:10px;'>
							<div class="form-group" style='margin-left:10px;'>
						    	<label class="form-label">总笔数</label>
						  	</div>
						  	<div class="form-group">
							    <input id="allTerms" type="text" readonly name="allTerms" class="form-control"/>
						  	</div>
						</form>
                    </div>
                </div>
            </div>          
        </div>
        
		<div id="menuContent" class="menuContent" style="max-height:500px;overflow:scroll;display:none; position: absolute;background:#fff;border:1px solid #ccc;">
	        <ul id="treeDemo" class="ztree" style="margin-top:0;"></ul>
        </div>
    </body>
</html>