<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>车辆状态核实</title>
	    <meta charset="UTF-8" />
	    <meta name="Author" content="" />
	    <meta name="Keywords" content="" />
	    <meta name="Description" content="" />
	    
	    <!-- 基础CSS库 -->
	    <link rel="stylesheet" href="../../../js/bootstrap/themes/default/bootstrap.css" />
	    <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/validatebox.css" />
	    <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/tooltip.css" />
	    <link rel="stylesheet" href="../../../css/jquery.select2.css" />
	    <link rel="stylesheet" href="../../../css/jquery.select2-bootstrap.css" />
	    <link rel="stylesheet" href="../../../js/prettyphoto/css/prettyPhoto.css" />
	    <link rel="stylesheet" href="../../../js/viewer/viewer.css" />
	    
	    <!-- 业务CSS库 -->
		<link rel="stylesheet" href="../../../css/common/base.css"/>
		<link rel="stylesheet" href="../../../css/common/scrollbar.css" />
	    
	    <!-- 基础JS库 -->
	    <script src="../../../js/common/package.js"></script>
		<script src="../../../js/common/url.js"></script>
		<script src="../../../js/common/json2.js"></script>	
		<script src="../../../js/common/jquery-1.11.3.min.js"></script>
		<script src="../../../js/common/jquery.form.js"></script>		
		<script src="../../../js/bootstrap/bootstrap.js"></script>
		<script src="../../../js/bootstrap/plugins/bootstrap-paginator.js"></script>
		<script src="../../../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
		<script src="../../../js/common/jquery.select2.js"></script>	
		<script src="../../../js/viewer/viewer.js"></script>	
		
		<!-- 业务JS库 -->
		<script src="../../../js/common/base.js"></script>
		<script src="../../../js/common/datagrid2.js"></script>
		<script src="../../../js/common/formatter.js"></script>	    
	    <script src="../../../js/each/afterLoan/wf/carCheck.js"></script>
	    <script src="../../../js/common/wflow.js"></script>
		
		<!-- 页面样式 -->
		<style type="text/css">
			.container-fluid {
				padding-top: 4px;
			}
			.text-right {
				text-align: right;
			}
			.text-muted {
				font-weight: bold;
			}
			.text-stress {
				font-weight: bold;
			}
			.list-group-blank {
				background-color: #f5f5f5;
			}
			th {
				text-align: center;
			}
			td {
				text-align: center;
			}
			.modal-form {
				margin: 15px 0;
			}
			.float-left {
				float: left;
				margin-right: 8px;
			}
			.special-panel {
				border-top-left-radius: 0 !important;
			}
			.nav-tabs {
				border-bottom: 1px solid #fff;				
			}
			h5 {
				overflow: hidden;
				text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				-webkit-text-overflow: ellipsis;
				-moz-text-overflow: ellipsis;
				white-space: nowrap;
			}
		</style>
		
	    
	</head>
	<body>
		
		<div class="container-fluid">		
		
			<ul id="tab" class="nav nav-tabs" role="tablist">
			  	<li role="presentation" class="active"><a href="#order-tab" role="tab" data-toggle="tab">贷后信息</a></li>
			</ul>
			
			<div class="tab-content">
			  	<div role="tabpanel" class="tab-pane active" id="order-tab">
					<div class="panel panel-default">
						<div class="panel-heading">
					    	<button id="btn-approve" type="button" class="btn btn-primary btn-sm">
					    	 	<span class="glyphicon glyphicon-user"></span> 审核
					    	 </button>
							<button id="btn-unassign" type="button" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-share-alt"></span> 取消签收
							</button>
					  	</div>
					  	<ul class="list-group">
					    	<li class="list-group-item" style="border-bottom: 1px solid #fff;">
								<div class="row">				
									<div class="col-md-1 text-right"><span class="text-stress">机构名称</span></div>
									<div class="col-md-2"><span id="merchantName" class="text-muted"></span></div>
									<div class="col-md-1 text-right"><span class="text-stress">姓名</span></div>
									<div class="col-md-2"><span id="realName" class="text-muted"></span></div>
									<div class="col-md-1 text-right"><span class="text-stress">手机号</span></div>
									<div class="col-md-2"><span id="regId" class="text-muted"></span></div>
									<div class="col-md-1 text-right"><span class="text-stress">订单号</span></div>
									<div class="col-md-2"><span id="orderId" class="text-muted"></span></div>
								</div>
							</li>
							<li class="list-group-item" style="border-top: none;">
								<div class="row">				
									<div class="col-md-1 text-right"><span class="text-stress">借款金额</span></div>
									<div class="col-md-2"><span id="orderAmt" class="text-muted"></span></div>
									<div class="col-md-1 text-right"><span class="text-stress">月供</span></div>
									<div class="col-md-2"><span id="monthInterest" class="text-muted"></span></div>
								</div>
							</li>
							<li class="list-group-item" style="border-top: none;">
								<div class="row">				
									<div class="col-md-1 text-right"><span class="text-stress">品牌车系</span></div>
									<div class="col-md-2"><span id="orderName" class="text-muted"></span></div>
									<div class="col-md-1 text-right"><span class="text-stress">车牌号</span></div>
									<div class="col-md-2"><span id="plate" class="text-muted"></span></div>
									<div class="col-md-1 text-right"><span class="text-stress">车架号</span></div>
									<div class="col-md-2"><span id="carNo" class="text-muted"></span></div>
								</div>
							</li>
							<form id='updateForm'>
								<li class="list-group-item" style="border-top: none;">
									<div class="row">				
										<div class="col-md-1 text-right"><span style='color:red'>*</span><span class="text-stress">是否还款</span></div>
										<div class="col-md-2">
											<select class="form-control" id="repaymentFlag">
   												<option value="" selected>请选择</option>
    											<option value="1">是</option>
    											<option value="2">否</option>
   											</select> 
										</div>
										<div class="missBox">
										<div class="col-md-1 text-right"><span style='color:red'>*</span><span class="text-stress">车辆是否失联</span></div>
										<div class="col-md-2">
											<select class="form-control" id="lostContactFlag">
   												<option value="" selected>请选择</option>
    											<option value="1">是</option>
    											<option value="2">否</option>
   											</select> 
										</div>
										<div class="col-md-1 text-right disposeAbout"><span style='color:red'>*</span><span class="text-stress">处理途径</span></div>
										<div class="col-md-2 disposeAbout">
											<select class="form-control" id="disposeWay">
   												<option value="" selected>请选择</option>
    											<option value="1">转外包</option>
    											<option value="2">转法务</option>
   											</select> 
										</div>
										</div>
										<div class="col-md-1 text-right">
										     <button id="btn-check" type="button" class="btn btn-info btn-sm">查看账单</button>
										</div>
									</div>
								</li>
								<li class="list-group-item reasonBox" style="border-top: none;">
									<div class="row">				
										<div class="col-md-1 text-right"><span style='color:red'>*</span><span class="text-stress">失联原因</span></div>
										<div class="col-md-8">
										    <textarea class='form-control input-sm easyui-validatebox' id='lostContactReason'></textarea>
										</div>
									</div>
								</li>
								<li class="list-group-item sugBox" style="border-top: none;">
									<div class="row">				
										<div class="col-md-1 text-right"><span class="text-stress">核实意见</span></div>
										<div class="col-md-8">
										    <textarea class='form-control input-sm easyui-validatebox' id='checkOpinion'></textarea>
										</div>
									</div>
								</li>
								<li class="list-group-item" style="border-top: none;">
									<div class="row">				
										<div class="col-md-1 text-right"><span class="text-stress">贷后意见</span></div>
										<div class="col-md-8">
										    <textarea class='form-control input-sm easyui-validatebox' id='afterLoanOpinion' readonly></textarea>
										</div>
									</div>
								</li>
							</form>
							<li class="list-group-item list-group-blank"></li>							
						</ul>	
						<table id="datagrid2" class="table table-striped table-bordered table-hover table-condensed" style='border-top:1px solid #ccc;'>
							<thead>
								<tr class="warning">
									<th field="rn" align="text-center" class="text-center">序号</th>
									<th field="createTime" align="text-center" class="text-center">操作时间</th>
									<th field="gpsStatus" formatter="Formatter.gpsStatusShow(val)">GPS状态</th>
									<th field="remark">备注</th>
									<th field="disposalScheme">处置方案</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="panel-footer">
							<div id="paginator"></div>
						</div>				    	
					  	<table id="datagrid" class="table table-hover">
							<thead>
								<tr class="warning">
									<th field="ck" hidden="true"></th>
									<th field="rn" align="text-center" class="text-center">序号</th>
									<th field="id" idField="true" hidden="true">ID</th>
									<th field="procCtaskname" align="text-center" class="text-center">任务名称</th>
									<th field="procTaskAssignee" align="text-center" class="text-center">处理人</th>
									<th field="procLicensor" align="text-center" class="text-center">委托人</th>
									<th field="procTaskCommittime" align="text-center" class="text-center">任务到达时间</th>
									<th field="procTaskEndtime" align="text-center" class="text-center">任务受理时间</th>
									<th field="procTaskEndtime" align="text-center" class="text-center">任务完成时间</th>
									<th field="procTaskApprStatus" align="text-center" class="text-center">审批结论</th>
									<th field="procTaskApprOpinion" align="text-center" class="text-center" formatter="Formatter.opinion(val)">审批意见</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>	
		</div>
		
		<div id="approve-win" class="modal fade" role="dialog" aria-labelledby="approve-win-label" aria-describedby="">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="approve-win-label">审批</h5>
					</div>
					<div class="modal-form">
						<form id="approveForm" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label">审批结果</label>
								<div class="col-sm-4">
									<select class="form-control" disabled>
										<option value="1" selected>通过</option>
										<option value="2">退回</option>
										<option value="0">拒绝</option>
									</select>
									<input type="text" class="hidden" value="1" name="approveStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">审批意见</label>
								<div class="col-sm-8">
									<textarea name="approveOpinion" class="form-control" rows="3" placeholder="请输入审批意见"></textarea>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button id="btn-approve-save" type="button"	class="btn btn-success btn-sm">提交</button>
						<button id="btn-approve-close" type="button" class="btn btn-default btn-sm">关闭</button>
					</div>
				</div>
			</div>
		</div>
		<div id="open-win" class="modal fade" role="dialog" aria-labelledby="update-win-label" aria-describedby="……">
			<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<span class="modal-title" id="update-win-label" style='font-weight:600'>账单详情</span>
		        		<button id="btn-close" type="button" class="btn btn-success btn-sm" style='float:right'>关闭</button>	
		      		</div>
	      			<div class="modal-form" style='height:600px;overflow-y:scroll;overflow-x:hidden;'>
	      				<form id="updateForm" class="form-horizontal">
				  			<div class="form-group">
				    			<label class="col-sm-2 control-label" style='text-align:center;'>订单号</label>
				    			<div class="col-sm-4">
				    			    <input id='billOrderId' type="text" class="form-control input-sm" readonly/>
				    			</div>
				    			<label class="col-sm-2 control-label" style='text-align:center;'>姓名</label>
				    			<div class="col-sm-4">
				    			    <input id='billRealName' type="text" class="form-control input-sm" readonly >
				    			</div>
				  			</div>
				  			<table class="table table-bordered forBill">
							 <thead>
						    	<tr>
						    	    <th style='width:60px'>期数</th>
						    	    <th style='width:120px'>本期应还金额</th>
						    	    <th style='width:120px'>最迟还款日</th>
						    	    <th style='width:120px'>实际还款金额</th>
						    	    <th style='width:60px'>罚息</th>
						    	    <th style='width:100px'>逾期天数</th>
						    	    <th style='width:120px'>账单状态</th>
						    	    <th style='width:100px'>电催结果</th>
						    	    <th style='width:120px'>处理意见</th>
						    	    <th style='width:120px'>备注</th>
						    	</tr>
						     </thead>
						     <tbody></tbody>
							</table>
						</form>
	      			</div>		      		
		    	</div>
		  	</div>
		</div>
	</body>
</html>