@charset "utf-8";
/* CSS Document */


*{ padding:0;margin:0;text-decoration:none;list-style:none;font-style:normal;outline: none}
.fl{ float: left;}
.fr{ float: right;}
body {width: 100%; height: 100%;font-size:12px; font-family:"微软雅黑";overflow: hidden;background: url("../img/bg.png") no-repeat; border: 0;background-size:100% }
#login{text-align: center;height:370px;position: relative;z-index: 1000;margin-top: 6%;}
#login h1{color: #ed6c44;font: 200 22px/84px "微软雅黑";}
.text{width:330px;height:38px;margin: 10px 0;text-indent: 20%; font-size: 14px;color: #a0a0a1;}
#username{background: url("../img/usename.png") no-repeat; border: 0;}
#password{background: url("../img/password.png") no-repeat; border: 0;}
#login .bt{position:absolute;left:50%;margin-left:-165px;width:330px; font-size: 13px; color: #999999;line-height: 22px;}
#login .bt .check{height: 24px;margin-right: 2px;}
#login .bt span{display:inline-block;padding-right:68px;cursor:pointer;}
#submit{font-size: 13px;line-height: 21px;background: #ed6c44;color: #f4f2f2;border: 0;width:60px;height:25px;cursor:pointer;border-radius: 6px;}
/*弹窗样式*/
#login .bt .tip1{padding-right: 0px;margin-left: 45px;color: #db633d;display: none;} 





/*新登录页样式*/
/*login*/
.loginBg{
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(../img/loginBg.jpg) no-repeat center top;
	background-size:100% 100%;
}
.loginBox{
	width: 31%;
	padding-right: 1.2%;
	padding-top: 4%;
	margin: 0 auto;
	overflow: hidden;
}
.loginLogo{
	width:100%;
	margin: 16% auto 10%;
}
.loginLogo img{
	width: 92%;
	margin-left: 20px;
}
.loginBoxbg{
	width: 100%;
	height: 368px;
	background-color: #6a82d5;
	border-radius:18px;
	box-shadow:7px 6px 10px rgba(135,48,14,0.56);
	overflow: hidden;
}
.login{
	width: 100%;
	margin-bottom: 4%;
	border-radius: 17px;
	padding: 4% 0;
	background: #6a82d5;
	overflow: hidden;
	box-shadow: 7px 6px 10px rgba(106,130,213,0.56);
}
.logItem{
	position: relative;
	width: 69%;
	min-width: 252px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #fcdad0;
	margin: 7% auto 0 auto;
	padding-left: 40px;
}
.logItem i{
	display: block;
	position: absolute;
	width: 25px;
	height: 29px;
	left: 11px;
	top: 6px;
	background-image: url(../img/iconA.png);

}
.logIpt{
	display: inline-block;
	width: 219px;
	height: 39px;
	padding-left: 3%;
	line-height: 40px;
	font-size: 12px;
	text-align: left;
	font-size:16px;
	font-family:Microsoft YaHei;
	color: #fff;
	border:none;
	outline: none;
	background:none;
	letter-spacing: 2px;
}
input.logIpt:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #6a82d5 inset;-webkit-text-fill-color: #fff;}
input::-webkit-input-placeholder {
	color: #fff !important;
　　 }
input:-moz-placeholder {
	color: #fff !important;
}
input::-moz-placeholder {
	color: #fff !important;
}
input:-ms-input-placeholder {
	color: #fff !important;
}
.logItem:hover,.logItem:active,.log-sel{
	/*box-shadow: 0px 0px 10px #3a3737;*/
}
.log-unsel .logIcon1{background-position: 0px 0px;}
.log-unsel .logIcon2{background-position: -25px 0px;}
.log-unsel .logIcon3{background-position: -50px 0px;}
.logIcon1,.log-sel .logIcon1{
	background-position: -0px 0;
}
.logIcon2,.log-sel .logIcon2{
	background-position: -25px 0;
}
.logIcon3,.log-sel .logIcon3{
	background-position: -50px 0;
}
.logItem b.close{
	display: block;
	position: absolute;
	top: 10px;
	right: 4px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url(../img/iconA.png) no-repeat -150px 0;
}
.logExtra{
	width: 77%;
	min-width: 270px;
	height: 28px;
	line-height: 28px;
	margin: 3% auto 0 auto;
}
#warning{
	color:#fff;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.warnImg{
	display:inline-block;
	width:18px;
	height:18px;
	vertical-align:middle;
	background:url(../img/iconA.png) no-repeat 1px -35px;
}
input:-webkit-autofill {
background-color:none;
background-image: none;
}
.logBtnEx{
	display: inline-block;
	font:14px/28px Microsoft YaHei;
	color: #fff;
	padding: 0 4px;
	cursor: pointer;
}
.logBtnEx:hover,.logBtnEx:active{
	cursor:pointer;
}
.logButton{
	height: 60px;
	margin-top: 5%;
	text-align: center;
}
.logButton a{
	display: inline-block;
	width: 200px;
	height: 51px;
	line-height: 51px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	background: url(../img/iconA.png) no-repeat 0px -25px;
}
.logButton a:hover,.logButton a:active{
	background: url(../img/iconA.png) no-repeat -200px -25px;
}

.logButton{
	height: 51px;
	margin-top: 22px;
	text-align: center;
}
.logButton a,.logButton button{
	display: inline-block;
	width: 77%;
	min-width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	background:#fff;
	color:#6a82d5;
	font-family:Microsoft YaHei;
	border-radius:8px;
	border:none;
	outline:none;
	cursor:pointer;
}
.logButton a:hover,.logButton a:active,.logButton button:hover,.logButton button:active{
	border:0;
	outline:none;
}
i.navIconDown{display: block;
	position: absolute;
	width: 10px;
	height: 5px;
	top: 12px;
	right: 10px;
	background:url(../img/iconA.png) no-repeat -175px -5px;
}