<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>还款</title>
	    <meta charset="UTF-8" />
	    <meta name="Author" content="" />
	    <meta name="Keywords" content="" />
	    <meta name="Description" content="" />
	    
	    <!-- 样式库 -->
	    <link rel="stylesheet" href="../../../js/bootstrap/themes/default/bootstrap.css" />
	    <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/validatebox.css" />
	    <link rel="stylesheet" href="../../../js/jquery-easyui-1.5/themes/bootstrap/tooltip.css" />
	    <link rel="stylesheet" href="../../../css/jquery.select2.css" />
	    <link rel="stylesheet" href="../../../css/jquery.select2-bootstrap.css" />
	    <link rel="stylesheet" href="../../../css/jquery.datetimepicker.css" />
	    <link rel="stylesheet" href="../../../css/cfm/style.css" />
	    
	    <!-- 插件库 -->
	    <script src="../../../js/common/package.js"></script>
		<script src="../../../js/common/url.js"></script>
		<script src="../../../js/common/json2.js"></script>	
		<script src="../../../js/common/jquery-1.11.3.min.js"></script>		
		<script src="../../../js/bootstrap/bootstrap.js"></script>
		<script src="../../../js/bootstrap/plugins/bootstrap-paginator.js"></script>
		<script src="../../../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
		<script src="../../../js/ztree/js/jquery.ztree.all.min.js"></script>
		<script src="../../../js/common/jquery.select2.js"></script>
		
		<!-- 业务库 -->
		<script src="../../../js/common/base.js"></script>
		<script src="../../../js/common/datagrid.js"></script>
		<script src="../../../js/common/tree.js"></script>
		<script src="../../../js/common/formatter.js"></script>	    
	    <script src="../../../js/each/cfm/creditSys/paySuccess.js"></script>
	    <script src="../../../js/common/jquery.datetimepicker.js"></script>
		
		<!-- 页面样式 -->
		<style type="text/css">
			body {
				font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
				background:#eee url("../../../img/back.png") repeat;
			}
		</style>
	    
	</head>
	<body>
	   <div class='successDiv'>
		     <div class='success-title'>
		                   支付成功
		     </div>
		     <div class='success-bottom'> 
		         <div class='successImg'>
		            <img src='../../../img/cfmImg/yes.png'>
		         </div> 
		         <ul class='success-right'>
		            <li class='congratulate'>恭喜您，您已支付成功!</li>
		            <li class='successMessage orderName' style='margin-top:16px;'>订单名称：<span></span></li>
		            <li class='successMessage orderId'>订单编号：<span></span></li>
		            <li class='successMessage orderAmount'>支付金额：<span></span></li>
		            <li class='successMessage orderMethod'>支付方式：<span></span></li>
		         </ul>
		     </div>
	   </div>
	</body>
</html>